<template>
  <v-container fluid>
    <breadcrumbs></breadcrumbs>
    <v-card>
      <v-toolbar elevation="0">
        <v-card-title>{{currentAccount.name}}</v-card-title>
        <v-spacer></v-spacer>
        <v-btn
            class="mr-3"
            elevation="2"
            color="info"
            @click.stop="openAccountForm(UPDATE_ACTION)"
        >
          <v-icon>mdi-pencil</v-icon>
        </v-btn>
        <v-btn
            elevation="2"
            color="secondary"
            @click.stop="openDeleteDialog()"
        >
          <v-icon>mdi-delete</v-icon>
        </v-btn>
      </v-toolbar>
      <div class="pa-6">
        <p>
          <b>{{$t('accounts.form.label.description')}}:</b>
        </p>
        <p>
          {{currentAccount.description}}
        </p>
      </div>
      <v-tabs
          v-model="tabs"
          grow
      >
        <v-tab
            v-for="item in items"
            :key="item"
        >
          {{ item }}
        </v-tab>
      </v-tabs>

      <v-tabs-items v-model="tabs">
        <v-tab-item>
          <v-card flat outlined>
            <v-data-table class="mt-lg-4 elevation-1"
                          :headers="headersFirms"
                          :items="firms"
                          :footer-props="this.tableFooterProps()"></v-data-table>
          </v-card>
        </v-tab-item>
        <v-tab-item>
          <v-card flat>
            <v-data-table class="mt-lg-4 elevation-1"
                          :headers="headersUsers"
                          :items="users"
                          :footer-props="this.tableFooterProps()"></v-data-table>
            <v-card-text>

            </v-card-text>
          </v-card>
        </v-tab-item>
      </v-tabs-items>

      <v-row justify="center">
        <v-dialog v-model="showDeleteDialog" persistent overlay-opacity="5" max-width="400px">
          <v-card>
            <v-card-subtitle class="pt-10 text-center">
              <span class="text-h5">{{$t('accounts.form.delete.title', {description: currentAccount.name})}}</span>
            </v-card-subtitle>
            <v-container>
              <v-row justify="center">
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="success" text @click="showDeleteDialog = false">{{$t('global.button.cancel')}}</v-btn>
                  <v-btn color="secondary" text @click="deleteAndClose(currentAccount.uuid)">{{$t('global.button.delete')}}</v-btn>
                </v-card-actions>
              </v-row>
            </v-container>
          </v-card>
        </v-dialog>
      </v-row>
    </v-card>
  </v-container>
</template>

<script>
import i18n from "../i18n";
import {mapGetters} from "vuex";
import {mapActions} from "vuex";
import Breadcrumbs from "./Breadcrumbs";
import globalProps from "../mixins/mixin-props";

export default {
  name: "AccountCard",
  components: {Breadcrumbs},
  mixins:[globalProps],
  data: () => ({

    UPDATE_ACTION: 'UPDATE_ACTION',

    showDeleteDialog: false,

    tabs: null,
  }),

  computed: {
    ...mapGetters ({
      currentAccount: 'accountsStore/getCurrentAccount',
      firms: 'accountsStore/getCurrentAccountFirms',
      users: 'accountsStore/getCurrentAccountUsers'
    }),

    headersFirms: () => {
      return [
        { text: i18n.t('firms.table.header.type'), value: 'typeStr' },
        { text: i18n.t('firms.table.header.name'), value: 'name' },
        { text: i18n.t('firms.table.header.inn'), value: 'inn' },
        { text: i18n.t('firms.table.header.jurAddress'), value: 'jurAddress' }
      ];
    },

    headersUsers: () => {
      return [
        { text: i18n.t('users.table.header.login'), value: 'username'},
        { text: i18n.t('users.table.header.firstName'), value: 'firstName'},
        { text: i18n.t('users.table.header.lastName'), value: 'lastName'}
      ]
    },

    items() {
      return [
        i18n.t('accountCard.tabs.firms'),
        i18n.t('accountCard.tabs.users')
      ]
    },
  },

  methods: {

    ...mapActions([
      'accountsStore/deleteAccount',
      'accountsStore/fetchCurrentAccount',
      'accountsStore/fetchCurrentAccountFirms',
      'accountsStore/fetchCurrentAccountUsers'
    ]),

    openAccountForm(mode) {
      this.$store.commit('accountsStore/setAccountFormAction', mode);
      this.$router.push({name: 'editAccountForm', params: this.currentAccount.uuid});
    },

    openDeleteDialog(){
      this.showDeleteDialog = true;
    },

    deleteAndClose(id){
      this['accountsStore/deleteAccount'](id);
      this.showDeleteDialog = false;
      this.$router.push({name: 'accounts'});
    },
  },

  mounted() {
    this['accountsStore/fetchCurrentAccount'](this.currentAccount.uuid);
    this['accountsStore/fetchCurrentAccountFirms'](this.currentAccount.uuid);
    this['accountsStore/fetchCurrentAccountUsers'](this.currentAccount.uuid);
  }
}
</script>

<style scoped>

</style>