<template>
  <v-container fluid>
    <v-data-table class="mt-lg-4 elevation-1"
                  :headers="headers"
                  :items="accounts"
                  @click:row="openAccountCard($event)"
                  :options.sync="options"
                  :server-items-length="totalElements"
                  :footer-props="this.tableFooterProps()">
      <template v-slot:top>
        <v-toolbar
            flat
        >
          <v-toolbar-title>{{$t('accounts.title')}}</v-toolbar-title>
          <v-divider
              class="mx-4"
              inset
              vertical
          ></v-divider>
          <v-spacer></v-spacer>
          <v-btn
              elevation="2"
              color="success"
              @click.stop="openAccountForm(CREATE_ACTION)"
          >
            <v-icon>mdi-plus</v-icon>
            {{$t('accounts.button.add')}}
          </v-btn>
        </v-toolbar>
      </template>
    </v-data-table>
  </v-container>


</template>

<script>

import i18n from "../i18n";
import {mapGetters} from "vuex";
import {mapActions} from "vuex";
import globalProps from "../mixins/mixin-props";

export default {

  name: "Accounts",
  mixins: [globalProps],
  data: () => ({

    CREATE_ACTION: 'CREATE_ACTION',
    UPDATE_ACTION: 'UPDATE_ACTION',

    showAccountForm: false,
    showDeleteDialog: false,

    options: {},

    accountForm:{
      title: '',
      action:''
    },

    valid: true
  }),

  computed: {
    ...mapGetters({
      accounts: 'accountsStore/getAccounts',
      totalElements: 'accountsStore/getTotalElements',
      getCurrentAccount: 'accountsStore/getCurrentAccount'
    }),

    headers: () => {
      return [
        { text: i18n.t('accounts.table.header.name'), value: 'name' },
        { text: i18n.t('accounts.table.header.description'), value: 'description' }
      ];
    },

    rules: () => {
      return {
        name:{
          required: value => !!value || i18n.t('accounts.form.rules.required'),
          counter: value => value.length <= 64 || i18n.t('accounts.form.rules.counter.name'),
        },
        description: {
          required: value => !!value || i18n.t('accounts.form.rules.required'),
          counter: value => value.length <= 120 || i18n.t('accounts.form.rules.counter.description'),
        }
      }
    },

    isIdDisabled(){
      return this.accountForm.action !== this.CREATE_ACTION;
    },

    currentAccount: {
      get() {
        return this.getCurrentAccount;
      },
      set(account) {
        this.$store.commit('accountsStore/setCurrentAccount', account)
      }
    }

  },
  methods:{

    ...mapActions ([
      'accountsStore/fetchAccounts',
      'accountsStore/createAccount',
      'accountsStore/updateAccount',
      'accountsStore/deleteAccount'
    ]),

    openAccountCard(row) {
      this.$store.commit('accountsStore/setAccountFormAction', this.UPDATE_ACTION);
      this.$store.commit('accountsStore/setCurrentAccount', row);
      this.$router.push({name: 'accountCard', params: {uuid:row.uuid}});
    },

    openAccountForm(mode, account) {
      if (mode === this.UPDATE_ACTION) {
        this.$store.commit('accountsStore/setAccountFormAction', mode)
        this.$store.commit('accountsStore/setCurrentAccount', account)
        this.$router.push({name: 'editAccountForm', params:{uuid: account.uuid}});
      }
      else {
        this.$store.commit('accountsStore/setAccountFormAction', mode)
        this.$store.commit('accountsStore/setCurrentAccount', this.createEmptyAccount())
        this.$router.push({name: 'addAccountForm'});
      }
    },

    createEmptyAccount() {
      return { name: "", description: ""};
    },

    copyAccount(account) {
      return {
        description: account.description,
        name: account.name,
        uuid: account.uuid
      };
    },

    closeForms(){
      this.showAccountForm = false;
      this.showDeleteDialog = false;
    },

    submit() {
      if (this.$refs.form.validate()) {
        if (this.accountForm.action === this.UPDATE_ACTION ){
          this['accountsStore/updateAccount']([this.currentAccount, this.transformOptions()]);
          this.closeForms();
        }
        else {
          this['accountsStore/createAccount']([this.currentAccount, this.transformOptions()]);
          this.closeForms();
        }
      }
    },

    openDeleteDialog(account){
      this.showDeleteDialog = true;
      this.currentAccount = account;
    },

    deleteAndClose(id){
      this['accountsStore/deleteAccount']([id, this.transformOptions()]);
      this.closeForms();
    },

    transformOptions(){
      let { sortBy, sortDesc, page, itemsPerPage } = this.options;
      // API ожидает asc/desc вместо значений true/false
      sortDesc = (sortDesc[0] == true) ? "desc" : "asc";

      if (itemsPerPage === -1) {
        itemsPerPage = this.totalElements;
      }
      //уменьшаю значение page на 1 (т.к. в API нумерация страниц начинается с 0)
      page = page -1;

      return  {sortBy, sortDesc, page, itemsPerPage};
    }
  },

  watch: {
    options: {
      handler () {
        this['accountsStore/fetchAccounts'](this.transformOptions());
      },
      deep: true,
    },
  }
}
</script>

<style scoped>

</style>