<template>
  <v-container fluid>
    <breadcrumbs></breadcrumbs>
    <v-card-title>
            <span class="headline">
              {{ this.accountFormAction === CREATE_ACTION ?
                $t('accounts.form.add.title') :
                $t('accounts.form.edit.title', {name: currentAccount.name})
              }}
            </span>
    </v-card-title>
    <v-form lazy-validation
            ref="form"
            v-model="valid">
      <v-row class="pt-5">
          <v-text-field
              v-model="currentAccount.name"
              dense
              :rules="[rules.name.required, rules.name.counter]"
              required
              v-on:keydown.enter="submit"
              :label="$t('accounts.form.label.name')"></v-text-field>
      </v-row>
      <v-row class="pt-5">
          <v-textarea
              auto-grow
              outlined
              v-model="currentAccount.description"
              dense
              :rules="[rules.description.required, rules.description.counter]"
              required
              v-on:keydown.enter="submit"
              :label="$t('accounts.form.label.description')"></v-textarea>
      </v-row>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="secondary" text @click="goBack">{{$t('global.button.cancel')}}</v-btn>
        <v-btn color="success" :disabled="!valid" text @click="submit">
          {{ $t('global.button.save') }}
        </v-btn>
      </v-card-actions>
    </v-form>
  </v-container>
</template>

<script>

import {mapGetters} from "vuex";
import {mapActions} from "vuex";
import i18n from "../i18n";
import Breadcrumbs from "./Breadcrumbs";

export default {
  name: "AccountCard",
  components: {Breadcrumbs},
  data: () => ({

    CREATE_ACTION: 'CREATE_ACTION',
    UPDATE_ACTION: 'UPDATE_ACTION',

    valid: true,

  }),

  computed: {

    ...mapGetters ({
      getCurrentAccount: 'accountsStore/getCurrentAccount',
      accountFormAction: 'accountsStore/getAccountFormAction',
    }),

    rules: () => {
      return {
        name: {
          required: value => !!value || i18n.t('firms.form.rules.required'),
          counter: value => value.length <= 64 || i18n.t('firms.form.rules.counter.name'),
        },
        description: {
          required: value => !!value || i18n.t('firms.form.rules.required'),
          counter: value => value.length <= 256 || i18n.t('firms.form.rules.counter.fullName'),
        }
      }
    },

    currentAccount: {
      get() {
        return this.getCurrentAccount;
      },
      set(account){
        this.$store.commit('accountsStore/setCurrentAccount', account)
      }
    }

  },

  methods: {
    ...mapActions ([
      'accountsStore/createAccount',
      'accountsStore/updateAccount',
      'accountsStore/fetchCurrentAccount'
    ]),

    goBack() {
      this.$router.back();
    },

    submit() {
      if (this.$refs.form.validate()) {
        if (this.accountFormAction === this.UPDATE_ACTION ){
          this['accountsStore/updateAccount'](this.currentAccount);
        }
        else {
          this['accountsStore/createAccount'](this.currentAccount);
        }
        this.goBack();
      }
    },
  },

  mounted() {
    if (this.accountFormAction === this.UPDATE_ACTION){
      this['accountsStore/fetchCurrentAccount'](this.currentAccount.uuid);
    }
  }
}
</script>

<style scoped>

</style>