<template>
  <v-container fluid>
    <v-data-table class="mt-lg-4 elevation-1"
                  :headers="headers"
                  :items="firms"
                  @click:row="openFirmCard($event)"
                  :options.sync="options"
                  :server-items-length="totalElements"
                  :footer-props="this.tableFooterProps()">
      <template v-slot:top>
        <v-toolbar
            flat
        >
          <v-toolbar-title>{{$t('firms.title')}}</v-toolbar-title>
          <v-divider
              class="mx-4"
              inset
              vertical
          ></v-divider>
          <v-spacer></v-spacer>
          <v-btn
              elevation="2"
              color="success"
              @click.stop="openFirmForm(CREATE_ACTION)"
          >
            <v-icon>mdi-plus</v-icon>
            {{$t('firms.button.add')}}
          </v-btn>
        </v-toolbar>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>

import i18n from "../i18n";
import {mapGetters} from "vuex";
import {mapActions} from "vuex";
import globalProps from "../mixins/mixin-props";

export default {
  name: "Firms",
  mixins: [globalProps],
  data: () => ({

    CREATE_ACTION: 'CREATE_ACTION',
    UPDATE_ACTION: 'UPDATE_ACTION',

    showFirmForm: false,
    showDeleteDialog: false,

    options: {},

    firmForm:{
      title: '',
      action:''
    },

    valid: true
  }),

  computed: {
    ...mapGetters({
      firms: 'firmsStore/getFirms',
      totalElements: 'firmsStore/getTotalElements',
      getCurrentFirm: 'firmsStore/getCurrentFirm'
    }),

    headers: () => {
      return [
        { text: i18n.t('firms.table.header.type'), value: 'typeStr' },
        { text: i18n.t('firms.table.header.name'), value: 'name' },
        { text: i18n.t('firms.table.header.inn'), value: 'inn' },
        { text: i18n.t('firms.table.header.jurAddress'), value: 'jurAddress' }
      ];
    },

    isIdDisabled(){
      return this.firmForm.action !== this.CREATE_ACTION;
    },

    currentFirm: {
      get() {
        return this.getCurrentFirm;
      },
      set(firm) {
        this.$store.commit('firmsStore/setCurrentFirm', firm)
      }
    }
  },
  methods:{

    ...mapActions ([
      'firmsStore/fetchFirms',
      'firmsStore/fetchCurrentFirm'
    ]),

    openFirmCard(row) {
      this.$store.commit('firmsStore/setFirmFormAction', this.UPDATE_ACTION);
      this.$store.commit('firmsStore/setCurrentFirm', row);
      this.$router.push({name: 'firmCard', params: {uuid:row.uuid}});
    },

    openFirmForm(mode, firm) {
      if (mode === this.UPDATE_ACTION) {
        this.$store.commit('firmsStore/setFirmFormAction', mode)
        this.$store.commit('firmsStore/setCurrentFirm', firm)
        this.$router.push({name: 'editFirmForm', params:{uuid: firm.uuid}});
      }
      else {
        this.$store.commit('firmsStore/setFirmFormAction', mode)
        this.$store.commit('firmsStore/setCurrentFirm', this.createEmptyFirm())
        this.$router.push({name: 'addFirmForm'});
      }
    },

    createEmptyFirm() {
      return {
        type: "",
        name: "",
        fullName : "",
        firstName : "",
        lastName : "",
        patronymic : "",
        inn : "",
        kpp : "",
        jurAddress : "",
        postAddress : "",
        phones : "",
        email : "",
        managerFio : "",
        managerPosition : ""
      };
    },

    copyFirm(firm) {
      return {
        type: firm.type,
        name: firm.name,
        fullName : firm.fullName,
        firstName : firm.firstName,
        lastName : firm.lastName,
        patronymic : firm.patronymic,
        inn : firm.inn,
        kpp : firm.kpp,
        jurAddress : firm.jurAddress,
        postAddress : firm.postAddress,
        phones : firm.phones,
        email : firm.email,
        managerFio : firm.managerFio,
        managerPosition : firm.managerPosition,
        uuid: firm.uuid
      };
    },

    transformOptions(){
      let { sortBy, sortDesc, page, itemsPerPage } = this.options;
      // API ожидает asc/desc вместо значений true/false
      sortDesc = (sortDesc[0] == true) ? "desc" : "asc";

      if (itemsPerPage === -1) {
        itemsPerPage = this.totalElements;
      }
      //уменьшаю значение page на 1 (т.к. в API нумерация страниц начинается с 0)
      page = page -1;

      return  {sortBy, sortDesc, page, itemsPerPage};
    }
  },

  watch: {
    options: {
      handler () {
        this['firmsStore/fetchFirms'](this.transformOptions());
      },
      deep: true,
    },
  }
}
</script>

<style scoped>

</style>