<template>
  <v-container fluid>
    <breadcrumbs></breadcrumbs>
      <v-card-title>
            <span class="headline">
              {{ this.firmFormAction === CREATE_ACTION ?
                $t('firms.form.add.title') :
                $t('firms.form.edit.title', {name: currentFirm.name})
              }}
            </span>
      </v-card-title>
        <v-form lazy-validation
                ref="form"
                v-model="valid">
          <v-row class="ma-3">
              <v-radio-group
                  v-model="currentFirm.type"
                  row>
                <v-radio
                    :value=1
                    :label="$t('firms.form.label.type.ip')"></v-radio>
                <v-radio class="ml-8"
                    :value=2
                    :label="$t('firms.form.label.type.jur')"></v-radio>
              </v-radio-group>
          </v-row>
          <v-row>
            <v-col cols="12" md="6" sm="4">
              <v-text-field
                  v-model="currentFirm.fullName"
                  dense
                  :rules="[rules.fullName.required, rules.fullName.counter]"
                  required
                  v-on:keydown.enter="submit"
                  :label="$t('firms.form.label.fullName')"></v-text-field>
            </v-col>
            <v-col cols="12" md="6" sm="4">
              <v-text-field
                  v-model="currentFirm.name"
                  dense
                  :rules="[rules.name.required, rules.name.counter]"
                  required
                  v-on:keydown.enter="submit"
                  :label="$t('firms.form.label.name')"></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" md="6" sm="4">
              <v-text-field
                  v-model="currentFirm.inn"
                  dense
                  :rules="[rules.inn.required, rules.inn.counter]"
                  required
                  v-on:keydown.enter="submit"
                  :label="$t('firms.form.label.inn')"></v-text-field>
            </v-col>
            <v-col cols="12" md="6" sm="4">
              <v-text-field
                  v-model="currentFirm.kpp"
                  dense
                  v-on:keydown.enter="submit"
                  :label="$t('firms.form.label.kpp')"></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" md="6" sm="4">
              <v-text-field
                  v-model="currentFirm.jurAddress"
                  dense
                  v-on:keydown.enter="submit"
                  :label="$t('firms.form.label.jurAddress')"></v-text-field>
            </v-col>
            <v-col cols="12" md="6" sm="4">
              <v-text-field
                  v-model="currentFirm.postAddress"
                  dense
                  v-on:keydown.enter="submit"
                  :label="$t('firms.form.label.postAddress')"></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" md="6" sm="4">
              <v-text-field
                  v-model="currentFirm.email"
                  dense
                  v-on:keydown.enter="submit"
                  :label="$t('firms.form.label.email')"></v-text-field>
            </v-col>
            <v-col cols="12" md="6" sm="4">
              <v-text-field
                  v-model="currentFirm.phones"
                  dense
                  v-on:keydown.enter="submit"
                  :label="$t('firms.form.label.phones')"></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" md="6" sm="4">
              <v-text-field
                  v-model="currentFirm.managerFio"
                  dense
                  v-on:keydown.enter="submit"
                  :label="$t('firms.form.label.managerFio')"></v-text-field>
            </v-col>
            <v-col cols="12" md="6" sm="4">
              <v-text-field
                  v-model="currentFirm.managerPosition"
                  dense
                  v-on:keydown.enter="submit"
                  :label="$t('firms.form.label.managerPosition')"></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" md="6" sm="4">
              <v-text-field v-show="!isJUR"
                  v-model="currentFirm.firstName"
                  dense
                  v-on:keydown.enter="submit"
                  :label="$t('firms.form.label.firstName')"></v-text-field>
            </v-col>
            <v-col cols="12" md="6" sm="4">
              <v-text-field v-show="!isJUR"
                  v-model="currentFirm.lastName"
                  dense
                  v-on:keydown.enter="submit"
                  :label="$t('firms.form.label.lastName')"></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6" md="6" sm="4">
              <v-text-field v-show="!isJUR"
                  v-model="currentFirm.patronymic"
                  dense
                  v-on:keydown.enter="submit"
                  :label="$t('firms.form.label.patronymic')"></v-text-field>
            </v-col>
          </v-row>
          <v-row justify="center">

          </v-row>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="secondary" text @click="goBack">{{$t('global.button.cancel')}}</v-btn>
            <v-btn color="success" :disabled="!valid" text @click="submit">
              {{ $t('global.button.save') }}
            </v-btn>
          </v-card-actions>
        </v-form>
  </v-container>
</template>

<script>

import {mapGetters} from "vuex";
import {mapActions} from "vuex";
import i18n from "../i18n";
import Breadcrumbs from "./Breadcrumbs";
import {JUR} from "../constants";

export default {
  name: "FirmCard",
  components: {Breadcrumbs},
  data: () => ({

    CREATE_ACTION: 'CREATE_ACTION',
    UPDATE_ACTION: 'UPDATE_ACTION',

    valid: true,

  }),

  computed: {

    ...mapGetters ({
      getCurrentFirm: 'firmsStore/getCurrentFirm',
      firmFormAction: 'firmsStore/getFirmFormAction',
    }),

    rules: () => {
      return {
        inn: {
          required: value => !!value || i18n.t('firms.form.rules.required'),
          counter: value => value.length <= 12 || i18n.t('firms.form.rules.counter.inn'),
        },
        name: {
          required: value => !!value || i18n.t('firms.form.rules.required'),
          counter: value => value.length <= 64 || i18n.t('firms.form.rules.counter.name'),
        },
        fullName: {
          required: value => !!value || i18n.t('firms.form.rules.required'),
          counter: value => value.length <= 256 || i18n.t('firms.form.rules.counter.fullName'),
        }
      }
    },

    currentFirm: {
      get() {
        return this.getCurrentFirm;
      },
      set(firm){
        this.$store.commit('firmsStore/setCurrentFirm', firm)
      }
    },

    isJUR() {
      return (this.currentFirm.type === JUR)
    }

  },

  methods: {
    ...mapActions ([
      'firmsStore/createFirm',
      'firmsStore/updateFirm',
      'firmsStore/fetchCurrentFirm'
    ]),

    goBack() {
      this.$router.back();
    },

    submit() {
      if (this.$refs.form.validate()) {
        if (this.firmFormAction === this.UPDATE_ACTION ){
          this['firmsStore/updateFirm'](this.currentFirm);
        }
        else {
          this['firmsStore/createFirm'](this.currentFirm);
        }
        this.goBack();
      }
    },
  },

  mounted() {
    if (this.firmFormAction === this.UPDATE_ACTION) {
      this['firmsStore/fetchCurrentFirm'](this.currentFirm.uuid);
    }
  }
}
</script>

<style scoped>

</style>