<template>
  <v-container fluid>
    <breadcrumbs></breadcrumbs>
    <v-card>
      <v-toolbar elevation="0">
        <v-card-title>{{currentFirm.name}}</v-card-title>
        <v-spacer></v-spacer>
        <v-btn
            class="mr-3"
            elevation="2"
            color="info"
            @click.stop="openFirmForm(UPDATE_ACTION)"
        >
          <v-icon>mdi-pencil</v-icon>
        </v-btn>
        <v-btn
            elevation="2"
            color="secondary"
            @click.stop="openDeleteDialog()"
        >
          <v-icon>mdi-delete</v-icon>
        </v-btn>
      </v-toolbar>
      <div class="pa-6">
        <div v-show="!itsJUR">
          <p>
            {{currentFirm.firstName}} {{currentFirm.lastName}} {{currentFirm.patronymic}}
          </p>
        </div>
        <p>
          <b class="mr-5">{{$t('firms.form.label.inn')}}</b>
          {{currentFirm.inn}}
          <b class="ml-md-14 mr-md-5 ml-sm-5 flex-sm-wrap">{{$t('firms.form.label.kpp')}}</b>
          {{currentFirm.kpp}}
        </p>
        <p>

        </p>
        <p>
          {{currentFirm.fullName}}
        </p>
        <p>
          <b class="mr-6">{{$t('firms.form.label.jurAddress')}}:</b>
          {{currentFirm.jurAddress}}
        </p>
        <p>
          <b class="mr-6">{{$t('firms.form.label.postAddress')}}:</b>
          {{currentFirm.postAddress}}
        </p>
        <p>
          <b class="mr-6">{{$t('firms.form.label.phones')}}:</b>
          {{currentFirm.phones}}
          <b class="ml-md-14 mr-md-5 ml-sm-14 mr-sm-5">{{$t('firms.form.label.email')}}</b>
          {{currentFirm.email}}
        </p>
        <hr/>
        <div class="mt-5">
          <b>{{$t('firmCard.management')}}</b><br/>
          <p class="mt-4">{{currentFirm.managerFio}}</p>
          <p>{{currentFirm.managerPosition}}</p>
        </div>
      </div>
      <v-tabs
          v-model="tabs"
          grow
      >
        <v-tab
            v-for="item in items"
            :key="item"
        >
          {{ item }}
        </v-tab>
      </v-tabs>

      <v-tabs-items v-model="tabs">
        <v-tab-item>
          <v-card flat outlined>
            <v-data-table class="mt-lg-4 elevation-1"
                          :headers="headersUsers"
                          :items="users"
                          :footer-props="this.tableFooterProps()"></v-data-table>
          </v-card>
        </v-tab-item>
        <v-tab-item>
          <v-card flat outlined>
            <v-card-title class="text-h5">
             Товарики
            </v-card-title>
            <v-card-text>

            </v-card-text>
          </v-card>
        </v-tab-item>
        <v-tab-item>
          <v-card flat outlined>
            <v-card-title class="text-h5">
              Закупочки
            </v-card-title>
            <v-card-text>

            </v-card-text>
          </v-card>
        </v-tab-item>
      </v-tabs-items>

      <v-row justify="center">
        <v-dialog v-model="showDeleteDialog" persistent overlay-opacity="5" max-width="400px">
          <v-card>
            <v-card-subtitle class="pt-10 text-center">
              <span class="text-h5">{{$t('firms.form.delete.title', {description: currentFirm.name})}}</span>
            </v-card-subtitle>
            <v-container>
              <v-row justify="center">
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="success" text @click="showDeleteDialog = false">{{$t('global.button.cancel')}}</v-btn>
                  <v-btn color="secondary" text @click="deleteAndClose(currentFirm.uuid)">{{$t('global.button.delete')}}</v-btn>
                </v-card-actions>
              </v-row>
            </v-container>
          </v-card>
        </v-dialog>
      </v-row>
    </v-card>
  </v-container>
</template>

<script>
import i18n from "../i18n";
import {mapGetters} from "vuex";
import {mapActions} from "vuex";
import Breadcrumbs from "./Breadcrumbs";
import {JUR} from "../constants";
import globalProps from "../mixins/mixin-props";

export default {
  name: "FirmCard",
  components: {Breadcrumbs},
  mixins: [globalProps],
  data: () => ({

    UPDATE_ACTION: 'UPDATE_ACTION',

    showDeleteDialog: false,

    tabs: null,

    firmFormAction: ''
  }),

  computed: {
    ...mapGetters ({
      currentFirm: 'firmsStore/getCurrentFirm',
      users: 'firmsStore/getCurrentFirmUsers'
    }),

    headersUsers: () => {
      return [
        { text: i18n.t('users.table.header.login'), value: 'username'},
        { text: i18n.t('users.table.header.firstName'), value: 'firstName'},
        { text: i18n.t('users.table.header.lastName'), value: 'lastName'}
      ]
    },

    items() {
      return [
        i18n.t('firmCard.tabs.users'),
        i18n.t('firmCard.tabs.goods'),
        i18n.t('firmCard.tabs.purchase')
      ]
    },

    itsJUR() {
      return (this.currentFirm.type === JUR);
    }
  },

  methods: {

    ...mapActions([
      'firmsStore/deleteFirm',
      'firmsStore/fetchCurrentFirm',
      'firmsStore/fetchCurrentFirmUsers'
    ]),

    openFirmForm(mode) {
        this.$store.commit('firmsStore/setFirmFormAction', mode);
        this.$router.push({name: 'editFirmForm', params: this.currentFirm.uuid});
    },

    openDeleteDialog(){
      this.showDeleteDialog = true;
    },

    deleteAndClose(id){
      this['firmsStore/deleteFirm'](id);
      this.showDeleteDialog = false;
      this.$router.push({name: 'firms'});
    },
  },

  watch: {
    options: {
      handler () {
        this['usersStore/fetchUsers'](this.transformOptions());
      },
      deep: true,
    },
  },

  mounted() {
    this['firmsStore/fetchCurrentFirm'](this.currentFirm.uuid);
    this['firmsStore/fetchCurrentFirmUsers'](this.currentFirm.uuid);

  }
}
</script>

<style scoped>

</style>