<template>
  <v-app-bar
      color="primary"
      dark
      app>
    <v-app-bar-nav-icon id="nav-icon" @click.stop="$store.commit('switchMenu')"></v-app-bar-nav-icon>
    <v-spacer></v-spacer>
    <v-menu
        z-index="1"
        dark
        offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-btn
            id="locale"
            class="mr-4"
            icon
            v-bind="attrs"
            v-on="on"
        >
          <v-icon class="mr-1">mdi-web</v-icon>
          {{ $i18n.locale }}
        </v-btn>
      </template>

      <v-list
          outlined
          tile
          dense
          color="primary">
        <v-list-item
            v-for="locale in getLocales"
            :key="locale"
            :id="locale"
            @click="switchLocale(locale)"
        >
          <v-list-item-title>{{ locale }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
    <v-btn icon @click="goToAuth">
      <v-icon>mdi-login</v-icon>
    </v-btn>
  </v-app-bar>
</template>

<script>

export default {
  name: "Header",
  computed: {
    getLocales() {
      return process.env.VUE_APP_I18N_SUPPORTED_LOCALE.split(',');
    }
  },
  methods: {
    switchLocale(locale) {
      this.$i18n.locale = locale;
    },
    goToAuth() {
      if (JSON.parse(localStorage.getItem('user'))) {
        this.$store.commit('authStore/switchLogoutCheck');
      }
      else {
        this.$router.push({name:'login'});
      }
    }
  },
  data() {
    return {
      items: [
        {title: 'Home', icon: 'mdi-home-city'},
        {title: 'My Account', icon: 'mdi-account'},
        {title: 'Users', icon: 'mdi-account-group-outline'},
      ]
    }
  },
}
</script>