<template>
  <v-container>
    <v-row class="my-5" justify="center">
      <v-col md="5" sm="2">
        <v-form lazy-validation
                ref="form"
                v-model="valid"
                @submit.prevent="handleLogin">
        <v-card outlined elevation="0" max-width="600">
          <v-card-title>
          </v-card-title>
          <v-row justify="center">
            <v-col md="8" sm="4">
<!--              TODO разобраться с валидацией форм, как правильно делать vue+vuetify || DO без NE дичь с локализацией-->
              <v-text-field v-model="user.username"
                            :label="$t('auth.labels.login')"
                            dense
                            :rules="[rules.login.min, rules.login.required]"
                            single-line
                            required
                            v-on:keyup.enter=""></v-text-field>
              <v-text-field class="mt-3" v-model="user.password"
                            :label="$t('auth.labels.password')"
                            dense
                            single-line
                            :rules="[rules.password.min, rules.password.required]"
                            required
                            :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                            :type="show ? 'text' : 'password'"
                            @click:append="show = !show"
                            v-on:keyup.enter=""></v-text-field>
              <v-card-text v-show="error" class="text-center red--text"> {{ message }}</v-card-text>
              <v-row class="mb-1 mt-2 justify-center" >
                  <v-btn type="submit" :disabled="!valid" text>{{$t('auth.buttons.logIn')}}</v-btn>
              </v-row>
            </v-col>
          </v-row>
        </v-card>
        </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import i18n from "../i18n";
import {mapActions, mapGetters} from "vuex";

export default {
  name: "LoginForm",

  data: () => {
    return {
      user: {
        username: '',
        password: '',
      },

      valid: true,
      message: "",
      error: false,
      show: false,
    }
  },

  computed: {
    ...mapGetters({
      loggedIn: 'authStore/getLoggedIn'
    }),
    rules: () => {
      return {
        login: {
          required: value => !!value || i18n.t('auth.rules.login.required'),
          min: value => value.length <= 12 || i18n.t('auth.rules.login.counter')
        },
        password: {
          required: value => !!value || i18n.t('auth.rules.password.required'),
          min: value => value.length <= 8 || i18n.t('auth.rules.password.counter')
        }
      }
    },
  },

  methods: {
    ...mapActions ([
      'authStore/login'
    ]),

    handleLogin() {
      if (this.$refs.form.validate()) {
        this['authStore/login']([this.user, this.logIn])
        .then(() =>{

        })
      }
    },

    logIn: function () {
      if (this.loggedIn) {
        this.$router.push(this.$route.query.targetURL || '/home/roles')
      } else {
        this.message = i18n.t('auth.errors.incorrect_data')
        this.error = true
      }
    }
  }
}
</script>

<style scoped>

</style>