<template>
    <v-dialog
        persistent
        max-width="400"
        v-model="$store.state.authStore.logoutCheck">
      <v-card max-height="400">
        <v-card-text class="text-center text-sm-body-1 pt-15">{{$t('auth.logout_text')}}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
              class="ml-sm-10 ml-md-5"
              color="error"
              text
              @click="logout"
          >
            {{$t('auth.buttons.logOut')}}
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
              class="mr-sm-10 mr-md-5"
              color="primary"
              text
              @click="cancel"
          >
            {{$t('auth.buttons.cancel')}}
          </v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
  name: "Logout",
  data() {
    return {

    }
  },
  computed: {
    ...mapGetters({
      logoutCheck: 'authStore/getLogoutCheck'
    }),
  },
  methods: {
    ...mapActions ([
      'authStore/logout'
    ]),
    logout() {
      this['authStore/logout'](this.goToLogin);
    },
    cancel() {
      this.$store.commit('authStore/switchLogoutCheck');
    },

    goToLogin() {
      this.$router.push({name: 'login'})
    }
  }
}
</script>

<style scoped>

</style>