<template>
    <v-navigation-drawer class="overflow-hidden"
                         v-model="$store.state.showMenu"
                         left app>
      <v-list nav>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="text-h4 deep-purple--text">
              Sample ERP
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-treeview
          open-all
          :open.sync="open"
          v-model="tree"
          :items="items"
          activatable
          item-key="name"
          open-on-click>
        <template v-slot:prepend="{ item, open }">
          <v-icon v-if="item.icon">{{ item.icon }}</v-icon>
        </template>
        <template slot="label" slot-scope="items">
          <router-link :to="items.item.to" tag="ul" v-if="items.item.to">{{items.item.name}}</router-link>
          <span v-else>{{items.item.name}}</span>
        </template>
      </v-treeview>

    </v-navigation-drawer>
</template>

<script>
import i18n from "../i18n";

export default {
  name: "Menu",
  data () {
    return {
      tree: [],
      open: [],
      right: null,
      drawer: true,
      group: null,
    }
  },
  computed: {
    items: () => {
      return [
      {
        name: i18n.t('menu.security.title'),
        children: [
          { name: i18n.t('menu.security.roles'), icon: 'mdi-chess-pawn', to: '/home/roles'},
          { name: i18n.t('menu.security.users'), icon: 'mdi-account-multiple', to: '/home/users'}
        ]
      },
      {
        name: i18n.t('menu.company.title'),
        children: [
          { name: i18n.t('menu.company.account'), icon: 'mdi-account-group', to: '/home/accounts'},
          { name: i18n.t('menu.company.firms'), icon: 'mdi-hand-coin', to: '/home/firms'}
        ]
      }
    ]}
  },
  methods: {
    openTreeviewNodes() {
          this.open = [this.items.length];
          this.items.forEach((element) => this.open.push(element.name));
    },
  },

  watch: {
    group () {
      this.drawer = true;
    },
    '$i18n.locale': function(newVal, oldVal) {
      this.openTreeviewNodes();
    }
  },
}
</script>