<template>
  <v-container fluid>
    <v-data-table class="mt-lg-4 elevation-1"
                  :headers="headers"
                  :items="roles"
                  :options.sync="options"
                  :server-items-length="totalElements"
                  :footer-props="this.tableFooterProps()">
      <template v-slot:top>
        <v-toolbar
            flat
        >
          <v-toolbar-title>{{$t('roles.title')}}</v-toolbar-title>
          <v-divider
              class="mx-4"
              inset
              vertical
          ></v-divider>
          <v-spacer></v-spacer>
          <v-btn
              elevation="2"
              color="success"
              @click.stop="openRoleForm(CREATE_ACTION)"
          >
            <v-icon>mdi-plus</v-icon>
            {{$t('roles.button.add')}}
          </v-btn>
        </v-toolbar>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-icon
            small
            class="mr-2"
            @click="openRoleForm(UPDATE_ACTION, item)"
        >
          mdi-pencil
        </v-icon>
        <v-icon
            small
            @click="openDeleteDialog(item)"
        >
          mdi-delete
        </v-icon>
      </template>
    </v-data-table>
    <!--   Форма редактирования роли или добавления   -->
    <v-row justify="center">
      <v-row justify="center">
        <v-dialog v-model="showRoleForm" persistent max-width="600px">
          <v-card>
            <v-card-title>
              <span class="headline">
                {{ roleForm.action === CREATE_ACTION ?
                  $t('roles.form.add.title') :
                  $t('roles.form.edit.title', {name: currentRole.name})
                }}
              </span>
            </v-card-title>
            <v-container>
              <v-form lazy-validation class="pa-6"
                      ref="form"
                      v-model="valid">
                <v-row justify="center">
                  <v-col cols="12" md="6" sm="4">
                    <v-text-field
                        v-model="currentRole.id"
                        :rules="[rules.name.required, rules.name.counter]"
                        dense
                        outlined
                        required
                        v-on:keyup.enter="submit"
                        :disabled="isIdDisabled"
                        :label="$t('roles.form.label.id')"></v-text-field>
                  </v-col>
                  <v-col cols="12" md="6" sm="4">
                    <v-text-field
                        v-model="currentRole.name"
                        :rules="[rules.name.required, rules.name.counter]"
                        dense
                        outlined
                        required
                        v-on:keyup.enter="submit"
                        :label="$t('roles.form.label.name')"></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-textarea class="ma-3" auto-grow
                              v-model="currentRole.description"
                              :rules="[rules.description.required, rules.description.counter]"
                              dense
                              outlined
                              required
                              v-on:keyup.enter="submit"
                              :label="$t('roles.form.label.description')"></v-textarea>
                </v-row>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="secondary" text @click="closeForms">{{$t('global.button.cancel')}}</v-btn>
                  <v-btn color="success" :disabled="!valid" text @click="submit">
                    {{ roleForm.action === CREATE_ACTION ? $t('global.button.create') : $t('global.button.save') }}
                  </v-btn>
                </v-card-actions>
              </v-form>
            </v-container>
          </v-card>
        </v-dialog>
      </v-row>

      <!--  Форма удаления роли    -->
      <v-row justify="center">
        <v-dialog v-model="showDeleteDialog" persistent overlay-opacity="5" max-width="400px">
          <v-card>
            <v-card-subtitle class="pt-10 text-center">
              <span class="text-h5">{{$t('roles.form.delete.title', {description: currentRole.description})}}</span>
            </v-card-subtitle>
            <v-container>
              <v-row justify="center">
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="success" text @click="closeForms">{{$t('global.button.cancel')}}</v-btn>
                  <v-btn color="secondary" text @click="deleteAndClose(currentRole.id)">{{$t('global.button.delete')}}</v-btn>
                </v-card-actions>
              </v-row>
            </v-container>
          </v-card>
        </v-dialog>
      </v-row>
    </v-row>
  </v-container>



</template>

<script>

import i18n from "../i18n";
import {mapGetters} from "vuex";
import {mapActions} from "vuex";
import globalProps from "../mixins/mixin-props";

export default {

  name: "Roles",
  mixins: [globalProps],
  data: () => ({

    CREATE_ACTION: 'CREATE_ACTION',
    UPDATE_ACTION: 'UPDATE_ACTION',

    showRoleForm: false,
    showDeleteDialog: false,

    options: {},

    roleForm:{
      title: '',
      action:''
    },

    valid: true
  }),

  computed: {
    ...mapGetters({
      roles: 'rolesStore/getRoles',
      totalElements: 'rolesStore/getTotalElements',
      getCurrentRole: 'rolesStore/getCurrentRole'
    }),

    headers: () => {
      return [
        { text: i18n.t('roles.table.header.id'), value: 'id'},
        { text: i18n.t('roles.table.header.name'), value: 'name' },
        { text: i18n.t('roles.table.header.description'), value: 'description' },
        { text: i18n.t('roles.table.header.actions'), value: 'actions' }
      ];
    },

    rules: () => {
      return {
        name:{
          required: value => !!value || i18n.t('roles.form.rules.required'),
          counter: value => value.length <= 64 || i18n.t('roles.form.rules.counter.name'),
        },
        description: {
          required: value => !!value || i18n.t('roles.form.rules.required'),
          counter: value => value.length <= 120 || i18n.t('roles.form.rules.counter.description'),
        }
      }
    },

    isIdDisabled(){
      return this.roleForm.action !== this.CREATE_ACTION;
    },

    currentRole: {
      get() {
        return this.getCurrentRole;
      },
      set(role) {
        this.$store.commit('rolesStore/setCurrentRole', role)
      }
    }

  },
  methods:{

    ...mapActions ([
        'rolesStore/fetchRoles',
        'rolesStore/createRole',
        'rolesStore/updateRole',
        'rolesStore/deleteRole'
    ]),

    openRoleForm(mode, role) {
      this.roleForm.action = mode;
      this.currentRole = (mode === this.UPDATE_ACTION) ? this.copyRole(role) : this.createEmptyRole();
      this.showRoleForm = true;
    },

    createEmptyRole() {
      return { id:"", name: "", description: ""};
    },

    copyRole(role) {
      return {
        description: role.description,
        name: role.name,
        id: role.id
      };
    },

    closeForms(){
      this.showRoleForm = false;
      this.showDeleteDialog = false;
    },

    submit() {
        if (this.$refs.form.validate()) {
          if (this.roleForm.action === this.UPDATE_ACTION ){
            this['rolesStore/updateRole']([this.currentRole, this.transformOptions()]);
            this.closeForms();
          }
          else {
            this['rolesStore/createRole']([this.currentRole, this.transformOptions()]);
            this.closeForms();
          }
        }
    },

    openDeleteDialog(role){
      this.showDeleteDialog = true;
      this.currentRole = role;
    },

    deleteAndClose(id){
      this['rolesStore/deleteRole']([id, this.transformOptions()]);
      this.closeForms();
    },

    transformOptions(){
      let { sortBy, sortDesc, page, itemsPerPage } = this.options;
      // API ожидает asc/desc вместо значений true/false
      sortDesc = (sortDesc[0] == true) ? "desc" : "asc";

      if (itemsPerPage === -1) {
        itemsPerPage = this.totalElements;
      }
      //уменьшаю значение page на 1 (т.к. в API нумерация страниц начинается с 0)
      page = page -1;

      return  {sortBy, sortDesc, page, itemsPerPage};
    }
  },

  watch: {
    options: {
      handler () {
        this['rolesStore/fetchRoles'](this.transformOptions());
      },
      deep: true,
    },
  }
}
</script>

<style scoped>

</style>