<template>
  <v-container fluid>
    <v-data-table class="mt-lg-4 elevation-1"
                  :headers="headers"
                  :items="users"
                  :options.sync="options"
                  :server-items-length="totalElements"
                  :footer-props="this.tableFooterProps()">
      <template v-slot:top>
        <v-toolbar
            flat >
          <v-toolbar-title>{{ $t('users.title') }}</v-toolbar-title>
          <v-divider
              class="mx-4"
              inset
              vertical
          ></v-divider>
          <v-spacer></v-spacer>
          <v-btn
              elevation="2"
              color="success"
              @click.stop="openUserForm(CREATE_ACTION)"
          >
            <v-icon>mdi-plus</v-icon>
            {{$t('users.button.add')}}
          </v-btn>
        </v-toolbar>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-icon
            small
            class="mr-2"
            @click="openUserForm(UPDATE_ACTION, item)"
        >
          mdi-pencil
        </v-icon>
        <v-icon
            small
            @click="openDeleteDialog(item)"
        >
          mdi-delete
        </v-icon>
      </template>
    </v-data-table>
<!--   Форма редактирования роли или добавления   -->
    <v-row>
      <v-row justify="center">
        <v-dialog v-model="showUserForm" persistent max-width="800px">
          <v-card>
            <v-card-title>
              <span class="headline">
                {{ userForm.action === CREATE_ACTION ?
                  $t('users.form.add.title') :
                  $t('users.form.edit.title', {name: currentUser.username})
                }}
              </span>
            </v-card-title>
            <v-container>
              <v-form lazy-validation
                      ref="form"
                      v-model="valid">
                <v-row justify="center">
                  <v-col cols="8" md="5" sm="6" class="mr-2 ml-2">
                      <v-text-field
                          v-model="currentUser.username"
                          :rules="[rules.name.required, rules.name.counter]"
                          dense
                          outlined
                          required
                          :disabled="isIdDisabled"
                          v-on:keyup.enter="submit"
                          :label="$t('users.form.label.login')"></v-text-field>
                      <v-text-field
                          v-model="currentUser.password"
                          :rules="[rules.password.required, rules.password.counter]"
                          dense
                          outlined
                          required
                          :disabled="isIdDisabled"
                          :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                          :type="show ? 'text' : 'password'"
                          @click:append="show = !show"
                          v-on:keyup.enter="submit"
                          :label="$t('users.form.label.password')"></v-text-field>
                  </v-col>
                  <v-col cols="8" md="5" sm="4" class="mr-2 ml-2">
                      <v-text-field
                          v-model="currentUser.firstName"
                          :rules="[rules.firstName.required, rules.firstName.counter]"
                          dense
                          outlined
                          required
                          v-on:keyup.enter="submit"
                          :label="$t('users.form.label.firstName')"></v-text-field>
                      <v-text-field
                          v-model="currentUser.lastName"
                          :rules="[rules.lastName.required, rules.lastName.counter]"
                          dense
                          outlined
                          required
                          v-on:keyup.enter="submit"
                          :label="$t('users.form.label.lastName')"></v-text-field>
                  </v-col>
                  <v-col cols="6">
                    <v-row>
                      <v-select
                          v-model="selectedRoles"
                          :items="allRoles"
                          return-object
                          :menu-props="{ maxHeight: '400' }"
                          :label="$t('users.form.select.label')"
                          multiple
                          chips
                          :hint="$t('users.form.select.hint')"
                          persistent-hint>
                      </v-select>
                    </v-row>
                  </v-col>
                </v-row>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="secondary" text @click="closeForms">{{$t('global.button.cancel')}}</v-btn>
                  <v-btn color="success" :disabled="!valid" text @click="submit">
                    {{ userForm.action === CREATE_ACTION ? $t('global.button.create') : $t('global.button.save') }}
                  </v-btn>
                </v-card-actions>
              </v-form>
            </v-container>
          </v-card>
        </v-dialog>
      </v-row>

      <!--  Форма удаления роли    -->
      <v-row justify="center">
        <v-dialog v-model="showDeleteDialog" persistent overlay-opacity="5" max-width="400px">
          <v-card>
            <v-card-subtitle class="pt-10 text-center">
              <span class="text-h5">{{$t('users.form.delete.title', {name: currentUser.name})}}</span>
            </v-card-subtitle>
            <v-container>
              <v-row justify="center">
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="success" text @click="closeForms">{{$t('global.button.cancel')}}</v-btn>
                  <v-btn color="secondary" text @click="deleteAndClose(currentUser)">{{$t('global.button.delete')}}</v-btn>
                </v-card-actions>
              </v-row>
            </v-container>
          </v-card>
        </v-dialog>
      </v-row>
    </v-row>
  </v-container>


</template>

<script>

import i18n from "../i18n";
import {mapActions, mapGetters} from "vuex";
import globalProps from "../mixins/mixin-props";

export default {

  name: "Users",
  mixins: [globalProps],
  data() {
    return {

      CREATE_ACTION: 'CREATE_ACTION',
      UPDATE_ACTION: 'UPDATE_ACTION',

      options: {},

      showUserForm: false,
      showDeleteDialog: false,
      show: false,
      userForm:{
        title: '',
        action:''
      },

      valid: true
    }
  },

  computed: {

    ...mapGetters ({
      users: 'usersStore/getUsers',
      roles: 'rolesStore/getRoles',
      totalElements: 'usersStore/getTotalElements',
      userRoles: 'usersStore/getUserRoles',
      getCurrentUser: 'usersStore/getCurrentUser'
    }),

    headers: () => {
      return [
        { text: i18n.t('users.table.header.login'), value: 'username'},
        { text: i18n.t('users.table.header.firstName'), value: 'firstName'},
        { text: i18n.t('users.table.header.lastName'), value: 'lastName'},
        { text: i18n.t('users.table.header.actions'), value: 'actions'},
      ]
    },

    rules: () => {
      return {
        name:{
          required: value => !!value || i18n.t('users.form.rules.required'),
          counter: value => value.length <= 64 || i18n.t('users.form.rules.counter.login'),
        },
        password: {
          required: value => !!value || i18n.t('users.form.rules.required'),
          counter: value => value.length <= 120 || i18n.t('users.form.rules.counter.password'),
        },
        firstName:{
          required: value => !!value || i18n.t('users.form.rules.required'),
          counter: value => value.length <= 64 || i18n.t('users.form.rules.counter.firstName'),
        },
        lastName: {
          required: value => !!value || i18n.t('users.form.rules.required'),
          counter: value => value.length <= 120 || i18n.t('users.form.rules.counter.lastName'),
        },
      }
    },

    allRoles() {
      return this.roles.map(role => {
        return {
          value: role.id,
          text: role.description,
          name: role.name,
          url: role._links.role.href
        };
      });
    },

    selectedRoles: {
      get() {
        return this.userRoles;
      },
      set(roles) {
        this.$store.commit('usersStore/setUserRoles', roles);
      }
    },

    currentUser: {
      get() {
        return this.getCurrentUser;
      },
      set(currentUser) {
        this.$store.commit('usersStore/setCurrentUser', currentUser);
      }
    },

    isIdDisabled() {
      return this.userForm.action !== this.CREATE_ACTION;
    }
  },

  methods: {

    ...mapActions ([
      'usersStore/fetchUsers',
      'usersStore/createUser',
      'usersStore/updateUser',
      'usersStore/deleteUser',
      'usersStore/putUserRoles',
      'usersStore/fetchUserRoles',
      'rolesStore/fetchRoles'
    ]),

    openUserForm(mode, user) {
      this.userForm.action = mode;
      if (mode === this.UPDATE_ACTION) {
        this['usersStore/fetchUserRoles'](user);
      }
      this.currentUser = (mode === this.UPDATE_ACTION) ? this.copyUser(user) : this.createEmptyUser();
      this.showUserForm = true;
    },

    createEmptyUser() {
      return { username: "", password: "", firstName: "", lastName: "" };
    },

    copyUser(user) {
      return {
        username: user.username,
        password: user.password,
        firstName: user.firstName,
        lastName: user.lastName,
        uuid: user.uuid
      };
    },

    closeForms(){
      this.showUserForm = false;
      this.showDeleteDialog = false;
      this.$store.commit('usersStore/setUserRoles', []);
    },

    submit() {
      if (this.$refs.form.validate()) {
        if (this.userForm.action === this.UPDATE_ACTION ){
          this['usersStore/updateUser']([this.currentUser, this.transformOptions()]);
          this['usersStore/putUserRoles']([this.currentUser, this.transformOptions()]);
          this.closeForms();
        }
        else {
          this['usersStore/createUser']([this.currentUser, this.transformOptions()]);
          this.closeForms();
        }
      }
    },

    openDeleteDialog(user){
      this.showDeleteDialog = true;
      this.currentUser = user;
    },

    deleteAndClose(user){
      this['usersStore/deleteUser']([user.uuid, this.transformOptions()]);
      this.closeForms()
    },

    transformOptions(){
      let { sortBy, sortDesc, page, itemsPerPage } = this.options;
      // API ожидает asc/desc вместо значений true/false
      sortDesc = (sortDesc[0] == true) ? "desc" : "asc";

      if (itemsPerPage === -1) {
        itemsPerPage = this.totalElements;
      }
      //уменьшаю значение page на 1 (т.к. в API нумерация страниц начинается с 0)
      page = page -1;

      return  {sortBy, sortDesc, page, itemsPerPage};
    },
  },

  mounted() {
    this['rolesStore/fetchRoles']({sortBy: 'description', sortDesc: 'asc', page: 0, itemsPerPage: -1});
  },

  watch: {
    options: {
      handler () {
        this['usersStore/fetchUsers'](this.transformOptions());
      },
      deep: true,
    },
  }
}
</script>

<style scoped>

</style>