<template>
  <v-app>
    <Header />
    <Menu/>
    <v-main class="mx-md-6">
      <router-view/>
      <Logout/>
    </v-main>
  </v-app>
</template>

<script>
import axios from '@/http-common.js'

import Header from "./components/Header";
import Menu from "./components/Menu";
import Roles from "./components/Roles";
import Users from "./components/Users";
import Logout from "./components/LogoutDialog";

import setAuthHeader from "./services/set-auth-header";
import {mapActions, mapGetters} from "vuex";
import authStore from "./store/modules/authorisation";
import router from "./router";

import Vue from "vue";

Vue.use(router).use(authStore)

export default {
  name: 'App',
  components:{
    Logout,
    'Header' : Header,
    'Menu' : Menu,
    'Roles': Roles,
    'Users': Users
  },
  data: () => ({

  }),
  computed: {
    ...mapGetters({
      loggedIn: 'authStore/getLoggedIn'
    }),
  },

  methods: {
    ...mapActions ([
      'authStore/logout'
    ]),

    interceptResponse() {
      axios.interceptors.response.use((response) => {
        if (response.status === 401) {}
        return response;
      }, (error) => {
        if (error.response && error.response.data) {
          return Promise.reject(error.response.data);
        }
        return new Promise(function (resolve, reject) {
          this.forcedLogout()
        })
      });
    },

    checkUserAuth() {
      let user = JSON.parse(localStorage.getItem('user'))
      if (user) {
        setAuthHeader(user);
        this.$store.commit('authStore/loginSuccess', user)
      }
    },

    forcedLogout() {
      localStorage.removeItem('user');
      delete axios.defaults.headers.common["Authorization"];
      authStore.mutations.loginReset(authStore.state)
      router.push({name: 'login'})
    }
  },

  created: function () {
    this.interceptResponse()
    this.checkUserAuth()
  },
  watch:{

  }
};
</script>
